## SQL

- 조심할 점 : 항상 숨겨진 조건 두번 세번 검색, 흔히 지나간 단어에 뜻이 있음

<hr>


## SQL - (1) 기본
#### 아픈 동물 where 절
    - SELECT ANIMAL_ID, NAME FROM ANIMAL_INS WHERE INTAKE_CONDITION='Sick'

#### 2단 정렬
    - SELECT ANIMAL_ID, NAME, DATETIME FROM ANIMAL_INS ORDER BY NAME, DATETIME DESC

#### 가장 늦게들어온, 빨리들어온
    - SELECT NAME FROM ANIMAL_INS ORDER BY DATETIME LIMIT 1

#### 중복 제거 하고 NULL이 아닌
    - SELECT COUNT(DISTINCT NAME) FROM ANIMAL_INS where NAME is not NULL

#### 동물의 이름이 NULL 인 경우
    - SELECT ANIMAL_ID FROM ANIMAL_INS WHERE NAME IS NULL

#### 동물의 이름이 null 인 경우 값 대체, 
    - SELECT ANIMAL_TYPE, IF(NAME IS NOT NULL, NAME, 'No name') AS NAME, SEX_UPON_INTAKE 
    - FROM ANIMAL_INS
    - ORDER BY ANIMAL_ID

<hr>

## SQL - (2) GROUP BY, ORDER BY

#### 그룹별 COUNT, 및 ORDER BY 정렬
    - SELECT ANIMAL_TYPE, COUNT(ANIMAL_TYPE) AS 'COUNT'
    - FROM ANIMAL_INS
    - GROUP BY ANIMAL_TYPE
    - ORDER BY ANIMAL_TYPE ASC

#### 동물 이름 두번이상 쓰인 경우, 해당 이름이 쓰인 횟수 조회, 이름이 없는 동물 집계 제외, 결과는 이름 순
    - SELECT NAME, COUNT(NAME) AS 'COUNT'
    - FROM ANIMAL_INS
    - WHERE NAME IS NOT NULL
    - GROUP BY NAME
    - HAVING COUNT(NAME)>=2
    - ORDER BY NAME

#### 9시~19:59까지 각 시간대별로 입양이 몇건이나 발생하는지 조회
    - SELECT HOUR(DATETIME), COUNT(*)
    - FROM ANIMAL_OUTS 
    - WHERE HOUR(DATETIME)>=9 AND HOUR(DATETIME)<20
    - GROUP BY HOUR(DATETIME)
    - ORDER BY HOUR(DATETIME)
<hr>

## SQL - (3) JOIN


#### 입양을 간 기록은 있는데, 보호소에 들어온 기록이 없는 동물의 ID와 이름을 ID 순으로 조회하는 SQL문 작성
    - SELECT ANIMAL_OUTS.ANIMAL_ID, ANIMAL_OUTS.NAME 
    - FROM ANIMAL_OUTS 
    - LEFT OUTER JOIN ANIMAL_INS ON ANIMAL_OUTS.ANIMAL_ID = ANIMAL_INS.ANIMAL_ID
    - WHERE ANIMAL_INS.ANIMAL_ID IS NULL
    - ORDER BY ANIMAL_OUTS.ANIMAL_ID

#### 입양일이 잘못됨. 보호 시작일보다 입양일이 더 빠른 동물의 아이디와 이름 조회, 보호 시작일이 빠른 순으로 작성 (OUTS가 잘못됬으니 INS로 시작
    - SELECT ANIMAL_INS.ANIMAL_ID, ANIMAL_INS.NAME
    - FROM ANIMAL_INS
    - LEFT OUTER JOIN ANIMAL_OUTS
    - ON ANIMAL_INS.ANIMAL_ID = ANIMAL_OUTS.ANIMAL_ID
    - WHERE ANIMAL_INS.DATETIME > ANIMAL_OUTS.DATETIME
    - ORDER BY ANIMAL_INS.DATETIME

#### 아직 입양을 못간 동물, 가장 오래 보호소에 있었던 동물 3마리의 이름과 보호 시작일 조회, 보호 시작일 순으로 조회
    - SELECT ANIMAL_INS.NAME, ANIMAL_INS.DATETIME
    - FROM ANIMAL_INS
    - LEFT OUTER JOIN ANIMAL_OUTS
    - ON ANIMAL_INS.ANIMAL_ID = ANIMAL_OUTS.ANIMAL_ID
    - WHERE ANIMAL_OUTS.DATETIME IS NULL
    - ORDER BY ANIMAL_INS.DATETIME
    - LIMIT 3
    
#### 보호소에 들어올 당시에는 중성화1되지 않았지만, 보호소를 나갈 당시에는 중성화된 동물의 아이디와 생물 종, 이름을 조회하는 아이디 순
    - SELECT ANIMAL_INS.ANIMAL_ID, ANIMAL_INS.ANIMAL_TYPE, ANIMAL_INS.NAME
    - FROM ANIMAL_INS
    - LEFT OUTER JOIN ANIMAL_OUTS
    - ON ANIMAL_INS.ANIMAL_ID = ANIMAL_OUTS.ANIMAL_ID
    - WHERE (ANIMAL_INS.SEX_UPON_INTAKE = 'Intact Male' OR ANIMAL_INS.SEX_UPON_INTAKE='Intact Female') AND  (ANIMAL_OUTS.SEX_UPON_OUTCOME = 'Neutered Male' OR ANIMAL_OUTS.SEX_UPON_OUTCOME = 'Spayed Female')
    - ORDER BY ANIMAL_INS.ANIMAL_ID

#### 입양을 간 동물 중 보호기간이 가장 길었던 동물 두마리의 아이디와 이름 조회
    - SELECT ANIMAL_INS.ANIMAL_ID, ANIMAL_INS.NAME
    - FROM ANIMAL_INS
    - LEFT OUTER JOIN ANIMAL_OUTS
    - ON ANIMAL_INS.ANIMAL_ID = ANIMAL_OUTS.ANIMAL_ID
    - WHERE ANIMAL_OUTS.DATETIME IS NOT NULL
    - ORDER BY DATEDIFF(ANIMAL_INS.DATETIME, ANIMAL_OUTS.DATETIME) 
    - LIMIT 2
    
<hr>

## SQL - (4) 기타 함수 (IN, LIKE, DATE_FORMAT, HOUR..)

#### 동물 보호소에 들어온 동물 중 이름이 [~]인 동물 출력 
    - SELECT ANIMAL_ID, NAME, SEX_UPON_INTAKE
    - FROM ANIMAL_INS
    - WHERE NAME IN ('Lucy', 'Ella', 'Pickle', 'Rogan', 'Sabrina', 'Mitty')

<hr>

#### 기르던 개 이름에 'el'이 들어가며 대소문자 구분 X / UPPER, LOWER
    - SELECT ANIMAL_ID, NAME
    - FROM ANIMAL_INS
    - WHERE UPPER(NAME) LIKE "%EL%" AND ANIMAL_TYPE = 'Dog'
    - ORDER BY NAME

#### A로 시작하는 문자를 찾기
    - SELECT 컬럼명 FROM 테이블 WHERE 컬럼명 LIKE 'A%'

#### A로 끝나는 문자 찾기
    - SELECT 컬럼명 FROM 테이블 WHERE 컬럼명 LIKE '%A'

#### A로 시작하는 두글자 문자 찾기
    - SELECT 컬럼명 FROM 테이블 WHERE 컬럼명 LIKE 'A_'

#### 첫번째 문자가 'A''가 아닌 모든 문자열 찾기
    - SELECT 컬럼명 FROM 테이블 WHERE 컬럼명 LIKE'[^A]'
    
#### 첫번째 문자가 'A'또는'B'또는'C'인 문자열 찾기
    - SELECT 컬럼명 FROM 테이블 WHERE 컬럼명 LIKE '[A-C]'

#### Neutered or Spayed 라는 단어가 들어있으면 중성화, 중성화가 되어있으면 o 아니라면 x 표시
    - SELECT ANIMAL_ID, NAME, IF(SEX_UPON_INTAKE LIKE '%Neutered%' OR SEX_UPON_INTAKE LIKE '%Spayed%', 'O','X')  AS '중성화'
    - FROM ANIMAL_INS
    - ORDER BY ANIMAL_ID

<hr>

#### 각 동물의 아이디와 이름, 들어온 날짜를 조회하는 SQL문 작성
    - SELECT ANIMAL_ID, NAME, DATE_FORMAT(DATETIME, '%Y-%m-%d')
    - FROM ANIMAL_INS
    - ORDER BY ANIMAL_ID